:root {
    --php-color: #635CFF;
    --laravel-color: #ff2d20;
    --javascript-color: #f1662f;
    --link-color: #f1362f;
}

a.php {
    background-color: var(--php-color);
}

a.laravel {
    background-color: var(--laravel-color);
}

a.javascript {
    background-color: var(--javascript-color);
}