:root {
    --php-color: #635CFF;
    --laravel-color: #ff2d20;
    --javascript-color: #f1662f;
    --nodejs-color: #4cd137;
    --link-color: #f1362f;
}

body.dark {
    --php-color: #bb86fc;
    --laravel-color: #cf6679;
    --javascript-color: #fc8e62;
    --nodejs-color: #69eab7;
    --link-color: #f1362f;
}

a.php {
    background-color: var(--php-color);
}

a.laravel {
    background-color: var(--laravel-color);
}

a.javascript {
    background-color: var(--javascript-color);
}

a.nodejs {
    background-color: var(--nodejs-color);
}

.dark li.category a {
    color: black;
}