a.platforms svg {
  width: 1.5rem;
  fill: grey;
}

a.platforms {
  padding: 3px;
}

svg#twitter:hover {
  fill: #55acee;
}

svg#github:hover {
  fill: black;
}

svg#instagram:hover {
  fill: #ea4c89;
}

svg#linkedin:hover {
  fill: #2867b2;
}

svg#email:hover {
  fill: black;
}
