.box img {
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 50%;
}

.box {
  text-align: center;
  padding: 10%;
  padding-bottom: 10vh;
}

.box h4 {
  color: grey;
}

.box p {
  font-size: 20px;
  color: #8f8f8f;
  font-family: 'Montserrat', sans-serif;
}
